name: Build with Gradle

on:
  push:
    branches:
      - "*"
    paths-ignore:
      - "README"
      - "LICENSE.md"
      - ".gitignore"
      - ".gitattributes"
  pull_request:
    branches:
      - "*"
    paths-ignore:
      - "README.md"
      - "LICENSE"
      - "LICENSE.md"
      - ".gitignore"
      - ".gitattributes"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build with Gradle
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: "17"
          distribution: "temurin"

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build

      - name: Upload build artifacts
        uses: actions/upload-artifact@v2
        with:
          name: build
          path: build/libs
